<?xml version='1.0' encoding='utf-8'?>
<plugin id="testplugin" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>testplugin</name><js-module name="testplugin" src="www/testplugin.js"><clobbers target="cordova.plugins.testplugin" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="testplugin"><param name="android-package" value="testplugin.testplugin" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml" /><source-file src="src/android/testplugin.java" target-dir="src/testplugin/testplugin" /></platform><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="testplugin"><param name="ios-package" value="testplugin" /></feature></config-file><source-file src="src/ios/testplugin.m" /></platform></plugin>