<?xml version='1.0' encoding='utf-8'?>
<plugin id="testplugin" version="1.0.0" 
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
  
  <name>testplugin</name>

  <!-- JavaScript module configuration -->
  <js-module name="testplugin" src="www/testplugin.js">
    <clobbers target="cordova.plugins.testplugin" />
  </js-module>

  <!-- Android platform configuration -->
  <platform name="android">
    <!-- Configuration for res/xml/config.xml -->
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="testplugin">
        <param name="android-package" value="testplugin.testplugin" />
      </feature>
    </config-file>

    <!-- Configuration for AndroidManifest.xml -->
    <config-file parent="/*" target="AndroidManifest.xml" />

    <!-- Source file for Android -->
    <source-file src="src/android/testplugin.java" target-dir="src/testplugin/testplugin" />
     <framework custom="true" src="src/android/mobile-ffmpeg-x2.gradle" type="gradleReference" />     
  </platform>

  <!-- iOS platform configuration -->
  <platform name="ios">
    <!-- Configuration for config.xml -->
    <config-file parent="/*" target="config.xml">
      <feature name="testplugin">
        <param name="ios-package" value="testplugin" />
      </feature>
    </config-file>

    <!-- Source file for iOS -->
    <header-file src="src/ios/testplugin.h" />
    <hook type="after_platform_add" src="hooks/after_platform_add_install_pods.js" />
     <pod name="ffmpeg-kit-ios-full" spec="~> 6.0" />
    <source-file src="src/ios/testplugin.m" />
  </platform>

</plugin>
